beautifulsoup4==4.12.2
bs4==0.0.1
dash==2.14.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Flask==3.0.0
googletrans==4.0.0rc1
nltk==3.8.1
numpy==1.26.2
pandas==2.1.4
plotly==5.18.0
requests==2.31.0
textblob==0.17.1
